.App {
  background-color: rgb(40, 45, 50);
  min-height: 100vh;
  padding: 30px;
}
.InnerDiv {
  margin: auto;
  flex: auto;
  max-width: 720px;
  min-height: 100vh;
}

.Cards {
  margin-bottom: 25px;
}

.Cards * {
  color: rgb(220, 220, 225);
}

.App-link {
  color: rgb(15, 180, 200);
  margin-left: 4px;
  margin-right: 4px;
}
.CardTitle {
  padding-bottom: 2px;
}

.StackContent {
  padding-bottom: 10px;
  word-spacing: 2px;
  margin-left: 5px;
}
.CardSubTitle {
  padding: 2px;
}

.CardContent {
  margin-left: 5px;
  padding: 2px;
}
